
.jumbotron {
    padding-top: 6rem;
    background-image: url('../img/wallpaper.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.navbar-brand {
    font-size: 28px;
    text-transform: uppercase;
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}

.social-links a{
    cursor: pointer;
    transition: .6s linear !important;
    color: var(--white);
}

.social-links a:hover{
    transform: rotate(360deg);
}

.card-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border-radius: 1rem 0 0 0;
    transform: translateY(100%);   
}

.card-action:hover .card-overlay {
    transform: translateY(0);
}